*{
    margin: 0px;
    padding: 0px;
}

#topheader{
    display: grid;
    grid-template-columns: auto auto;
    
.topdiv{ 
    display: grid;
grid-template-columns: auto auto ;
gap: 100px;
margin-right: 400px;
margin-top: 20px;
    

    .div1{
        display:flex;
        gap: 20px;
    
        


    }
}
}